@import './variables';

#main-nav {
    background-color: $color-background;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-family: $font-heading;
    text-transform: uppercase;

    .logo-container {
        background-image: url("../assets/PB_trans.svg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 100px;
        height: 100px;
        flex-shrink: 0;
    }

    #burger {
        display: none;
    }

    span {
        color: $color-text;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        gap: 2rem;
        justify-content: center;
        flex: 1;

        .menu-item {
            a {
                text-decoration: none;
                margin: 0 0.5rem;
                color: $color-text;
                font-size: 0.9rem;
                padding: 0.5rem 1rem;
                font-weight: 400;

                &:hover {
                    color: $color-accent-blue;
                }

                &.active {
                    color: $color-accent-gold;
                    border-bottom: 2px solid $color-accent-gold;
                }
            }
        }
    }
}

// Responsywność
@media (max-width: 1024px) {
    #main-nav {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        padding: 1rem;

        #burger {
            display: block;
            font-size: 2rem;
            cursor: pointer;
            color: $color-text;
            margin-right: 2rem;
        }

        .menu {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            z-index: 3;
            background: $color-background;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            text-align: center;
            padding: 1rem 0;
            transform: translateY(-100%);
            opacity: 0;
            visibility: hidden;
            transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s;

            .menu-item {
                padding: 1rem;
            }
        }

        span {
            display: none;
        }

        // Aktywne menu
        .menu.show {
            transform: translateY(0);
            opacity: 1;
            visibility: visible;
        }
    }
}