$color-background: #1B263B; // Granat - główne tło
$color-secondary: #2C2C2C; // Ciemnoszary - dodatkowe tło
$color-accent-gold: #D4AF37; // Złoty - akcent
$color-accent-blue: #B0C4DE; // Pastelowy błękit - akcent
$color-text: #F4F3EE; // Jasny kremowy - tekst

$font-heading: "Poppins", serif;
$font-body: "Work Sans", serif;